@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
[x-cloak] {
    display: none;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
